# Data Wrangling

**Data wrangling, sometimes referred to as data munging, 
is the process of transforming and mapping data from one "raw" data form into another 
format with the intent of making it more appropriate 
and valuable for a variety of downstream purposes such as analytics.**
*Wikipedia*

## Importing data

In [1]:
import pandas as pd
import numpy as np

In [2]:
personality_data = pd.read_csv('personality_scores.csv',sep=';')

## Looking at the data

In [3]:
personality_data.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
personality_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1555 entries, 0 to 1554
Data columns (total 70 columns):
ID                                                                          1555 non-null int64
Section 5 of 6 [I am always prepared.]                                      1555 non-null object
Section 5 of 6 [I am easily disturbed.]                                     1555 non-null object
Section 5 of 6 [I am exacting (demanding) in my work.]                      1555 non-null object
Section 5 of 6 [I am full of ideas.]                                        1555 non-null object
Section 5 of 6 [I am interested in people.]                                 1555 non-null object
Section 5 of 6 [I am not interested in abstract ideas.]                     1555 non-null object
Section 5 of 6 [I am not interested in other people's problems.]            1555 non-null object
Section 5 of 6 [I am not really interested in others.]                      1555 non-null object
Section 5 of 6 [I am quick to understand things.]                           1555 non-null object
Section 5 of 6 [I am quiet around strangers.]                               1555 non-null object
Section 5 of 6 [I am relaxed most of the time.]                             1555 non-null object
Section 5 of 6 [I am the life of the party.]                                1555 non-null object
Section 5 of 6 [I change my mood a lot.]                                    1555 non-null object
Section 5 of 6 [I do not have a good imagination.]                          1555 non-null object
Section 5 of 6 [I don't like to draw attention to myself.]                  1555 non-null object
Section 5 of 6 [I don't mind being the center of attention.]                1555 non-null object
Section 5 of 6 [I don't talk a lot.]                                        1555 non-null object
Section 5 of 6 [I feel comfortable around people.]                          1555 non-null object
Section 5 of 6 [I feel little concern for others.]                          1555 non-null object
Section 5 of 6 [I feel others' emotions.]                                   1555 non-null object
Section 5 of 6 [I follow a schedule.]                                       1555 non-null object
Section 5 of 6 [I get chores done right away.]                              1555 non-null object
Section 5 of 6 [I get irritated easily.]                                    1555 non-null object
Section 5 of 6 [I get stressed out easily.]                                 1555 non-null object
Section 5 of 6 [I get upset easily.]                                        1555 non-null object
Section 5 of 6 [I have a rich vocabulary.]                                  1555 non-null object
Section 5 of 6 [I have a soft (kind) heart.]                                1555 non-null object
Section 5 of 6 [I have a vivid imagination.]                                1555 non-null object
Section 5 of 6 [I have difficulty understanding abstract ideas.]            1555 non-null object
Section 5 of 6 [I have excellent ideas.]                                    1555 non-null object
Section 5 of 6 [I have frequent mood swings.]                               1555 non-null object
Section 5 of 6 [I have little to say.]                                      1555 non-null object
Section 5 of 6 [I insult people.]                                           1555 non-null object
Section 5 of 6 [I keep in the background.]                                  1555 non-null object
Section 5 of 6 [I leave my belongings lying around.]                        1555 non-null object
Section 5 of 6 [I like order.]                                              1555 non-null object
Section 5 of 6 [I make a mess of things.]                                   1555 non-null object
Section 5 of 6 [I make people feel at ease.]                                1555 non-null object
Section 5 of 6 [I neglect my duties.]                                       1555 non-null object
Section 5 of 6 [I often feel blue (down).]                                  1555 non-null object
Section 5 of 6 [I often forget to put things back in their proper place]    1555 non-null object
Section 5 of 6 [I pay attention to details.]                                1555 non-null object
Section 5 of 6 [I seldom feel blue (down).]                                 1555 non-null object
Section 5 of 6 [I spend time reflecting on things.]                         1555 non-null object
Section 5 of 6 [I start conversations.]                                     1555 non-null object
Section 5 of 6 [I sympathize with others' feelings.]                        1555 non-null object
Section 5 of 6 [I take time out for others.]                                1555 non-null object
Section 5 of 6 [I talk to a lot of different people at parties.]            1555 non-null object
Section 5 of 6 [I use difficult words.]                                     1555 non-null object
Section 5 of 6 [I worry about things.]                                      1555 non-null object
Unnamed: 51                                                                 0 non-null float64
Unnamed: 52                                                                 0 non-null float64
Unnamed: 53                                                                 0 non-null float64
Unnamed: 54                                                                 0 non-null float64
Unnamed: 55                                                                 0 non-null float64
Unnamed: 56                                                                 0 non-null float64
Unnamed: 57                                                                 0 non-null float64
Unnamed: 58                                                                 0 non-null float64
Unnamed: 59                                                                 0 non-null float64
Unnamed: 60                                                                 0 non-null float64
Unnamed: 61                                                                 0 non-null float64
Unnamed: 62                                                                 0 non-null float64
Unnamed: 63                                                                 0 non-null float64
Unnamed: 64                                                                 0 non-null float64
Unnamed: 65                                                                 0 non-null float64
Unnamed: 66                                                                 0 non-null float64
Unnamed: 67                                                                 0 non-null float64
Unnamed: 68                                                                 0 non-null float64
IPIP_HIGH_RISK                                                              0 non-null float64
dtypes: float64(19), int64(1), object(50)
memory usage: 850.5+ KB

*This is a data set of 1555 entries and 70 features.There are 19 columns with only  null values.*

## Find Duplicate rows based on ID

In [5]:
len(personality_data.ID.unique())
print('There are',len(personality_data.ID.unique()), 'unique IDs')

There are 1555 unique IDs

*The dataset has 1555 ID entries and there are 1555 unique IDs.
This explains that there are no duplicates with reference to the IDs*

## Drop any duplicates that exist

In [6]:
data=personality_data.drop_duplicates(subset=['ID'])

In [7]:
print('After executing the function that drops duplicates the length of the dataset is',len(data))

After executing the function that drops duplicates the length of the dataset is 1555

*This emphasises that there are no duplicates.*

### Comparing the length of the new data frame with old one that may have had duplicates.

*Use an assert statement to check that 
the new data frame is the length of the unique entries of the original data frame.*

*Python's assert statement is a debugging aid that tests a condition.
If the condition is true, it does nothing and your program just continues to execute.
But if the assert condition evaluates to false,
it raises an AssertionError exception with an optional error message.
The assert statement should show that the length of unique values of the original 
data is the same as the length of the  data set were duplicates are dropped.*

In [8]:
old_data = len(personality_data.ID.unique())
new_data = len(data)

In [9]:
assert old_data == new_data

*The unique values of old data set has the same length of 1555
as the new data set. New data set is the old data set without duplicate values.*

### Create new columns containing the total score of each of the personality test subscales

In [10]:
data=data.dropna(axis='columns')

In [11]:
Dict={1:'Extraversion', 2:'Agreeableness', 3:'Conscientiousness',
      4:'Emotional Stability',5:'Intellect'}

In [12]:
data=data.set_index('ID')

In [17]:
list_of_rows=data.values.tolist()

In [33]:
def my_function():
    p=[]
    for l in list_of_rows:
        l=[eval(l[i]) for i in range(len(l))]

        totals = {}
        for ad, x in l:
            if ad not in totals :
                totals[ad] = x
            else :
                totals[ad] += x    
        p.append(totals)
        personality_score=pd.DataFrame(p)
        personality_score.columns = personality_score.columns.to_series().map(Dict)
    return personality_score
my_function()

,Conscientiousness,Emotional Stability,Intellect,Agreeableness,Extraversion
0,48,36,42,40,30
1,46,40,42,46,42
2,40,38,42,40,28
3,38,40,38,38,30
4,46,38,36,34,28
...,...,...,...,...,...
1550,38,44,44,48,32
1551,40,44,34,48,40
1552,40,46,48,44,42
1553,48,36,44,38,36
1554,42,40,30,44,22

## merging the dataframes

In [38]:
 result = pd.concat([data,my_function() ], axis=1, ignore_index=False)

In [40]:
result

,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],Section 5 of 6 [I am quiet around strangers.],...,Section 5 of 6 [I sympathize with others' feelings.],Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.],Conscientiousness,Emotional Stability,Intellect,Agreeableness,Extraversion
0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)","(1, 3)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",48,36,42,40,30
1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)","(1, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)",46,40,42,46,42
2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)","(1, 1)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",40,38,42,40,28
3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)","(1, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)",38,40,38,38,30
4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)","(1, 1)",...,"(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",46,38,36,34,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,"(3, 5)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)","(1, 3)",...,"(2, 5)","(2, 3)","(1, 1)","(5, 1)","(4, 5)",38,44,44,48,32
1551,"(3, 3)","(4, 5)","(3, 5)","(5, 3)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 5)","(1, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 3)",40,44,34,48,40
1552,"(3, 5)","(4, 3)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 3)","(2, 3)","(5, 5)","(1, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)",40,46,48,44,42
1553,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)","(1, 5)",...,"(2, 3)","(2, 3)","(1, 1)","(5, 1)","(4, 3)",48,36,44,38,36
1554,"(3, 3)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 3)","(1, 3)",...,"(2, 5)","(2, 3)","(1, 1)","(5, 1)","(4, 3)",42,40,30,44,22

### Import the data in departments.csv

*Merge this data frame with the
personality score data frame, keeping all applicants within the department data frame.*

In [44]:
department_data = pd.read_csv('departments.csv',sep=(';'))

In [45]:
department_data

        ID Department
0        0       Data
1        1       Data
2        2       Data
3        3       Data
4        4       Data
...    ...        ...
1550  1550    Web dev
1551  1551    Web dev
1552  1552    Web dev
1553  1553    Web dev
1554  1554    Web dev

[1555 rows x 2 columns]

In [46]:
 merge = pd.concat([result, department_data] ,axis=1, ignore_index=False)

In [47]:
merge

,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],Section 5 of 6 [I am quiet around strangers.],...,Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.],Conscientiousness,Emotional Stability,Intellect,Agreeableness,Extraversion,ID,Department
0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)","(1, 3)",...,"(1, 3)","(5, 1)","(4, 3)",48,36,42,40,30,0,Data
1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)","(1, 3)",...,"(1, 5)","(5, 3)","(4, 3)",46,40,42,46,42,1,Data
2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)","(1, 1)",...,"(1, 3)","(5, 1)","(4, 3)",40,38,42,40,28,2,Data
3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)","(1, 3)",...,"(1, 5)","(5, 1)","(4, 1)",38,40,38,38,30,3,Data
4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)","(1, 1)",...,"(1, 3)","(5, 1)","(4, 3)",46,38,36,34,28,4,Data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,"(3, 5)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)","(1, 3)",...,"(1, 1)","(5, 1)","(4, 5)",38,44,44,48,32,1550,Web dev
1551,"(3, 3)","(4, 5)","(3, 5)","(5, 3)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 5)","(1, 5)",...,"(1, 5)","(5, 1)","(4, 3)",40,44,34,48,40,1551,Web dev
1552,"(3, 5)","(4, 3)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 3)","(2, 3)","(5, 5)","(1, 3)",...,"(1, 5)","(5, 3)","(4, 3)",40,46,48,44,42,1552,Web dev
1553,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)","(1, 5)",...,"(1, 1)","(5, 1)","(4, 3)",48,36,44,38,36,1553,Web dev
1554,"(3, 3)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 3)","(1, 3)",...,"(1, 1)","(5, 1)","(4, 3)",42,40,30,44,22,1554,Web dev

### The number of rows in data frames

*Use an assert statement to check that the newly created merged data frame has the same amount of 
rows as the department data frame.*

In [48]:
assert len(merge)==len(department_data)

In [49]:
print('The number of rows in the newly merged data frame is:',len(merge))
print('The number of rows in the department data frame is:',len(department_data))

The number of rows in the newly merged data frame is: 1555
The number of rows in the department data frame is: 1555

*The merged data frame and the department data frame have the same number of rows.*

### The expected number of columns.

*The expected number of columns on a merged DataFrame is 57 columns. 
The reason being that Personality data has 55 columns(Empty columns are dropped)
and Department data has 52 columns. So there are 57 expected columns.*

In [50]:
assert len(merge.columns)==57

In [51]:
print('The merged data frame columns in number are:',len(merge.columns))

The merged data frame columns in number are: 57

### Filter the merged data frame

*Filter the merged data frame so that you get only the applicants
who scored less than 30 on emotional stability, conscientiousness AND agreeableness*

In [52]:
score = merge[(merge['Conscientiousness']<30) & (merge['Agreeableness']<30) & (merge['Emotional Stability'] <30)]

In [53]:
score

,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],Section 5 of 6 [I am quiet around strangers.],...,Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.],Conscientiousness,Emotional Stability,Intellect,Agreeableness,Extraversion,ID,Department
881,"(3, 3)","(4, 1)","(3, 1)","(5, 5)","(2, 1)","(5, 3)","(2, 5)","(2, 3)","(5, 3)","(1, 5)",...,"(1, 5)","(5, 1)","(4, 1)",26,28,36,28,30,881,Data
1197,"(3, 5)","(4, 5)","(3, 1)","(5, 1)","(2, 1)","(5, 3)","(2, 5)","(2, 1)","(5, 1)","(1, 5)",...,"(1, 3)","(5, 5)","(4, 1)",26,26,28,22,40,1197,Copywriting

### Print the ID numbers and departments of these applicants to the screen

In [54]:
individuals=score[['ID','Department']]

In [55]:
print(individuals)

        ID   Department
881    881         Data
1197  1197  Copywriting

###  Assign these applicants the tag “high risk” in a new column. All other applicants get the tag “low risk”

In [56]:
merge['Risk']=np.where((merge['Conscientiousness']<30) & (merge['Agreeableness']<30) & (merge['Emotional Stability'] <30),'high risk','low risk')

In [57]:
merge

,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],Section 5 of 6 [I am quiet around strangers.],...,Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.],Conscientiousness,Emotional Stability,Intellect,Agreeableness,Extraversion,ID,Department,Risk
0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)","(1, 3)",...,"(5, 1)","(4, 3)",48,36,42,40,30,0,Data,low risk
1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)","(1, 3)",...,"(5, 3)","(4, 3)",46,40,42,46,42,1,Data,low risk
2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)","(1, 1)",...,"(5, 1)","(4, 3)",40,38,42,40,28,2,Data,low risk
3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)","(1, 3)",...,"(5, 1)","(4, 1)",38,40,38,38,30,3,Data,low risk
4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)","(1, 1)",...,"(5, 1)","(4, 3)",46,38,36,34,28,4,Data,low risk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,"(3, 5)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)","(1, 3)",...,"(5, 1)","(4, 5)",38,44,44,48,32,1550,Web dev,low risk
1551,"(3, 3)","(4, 5)","(3, 5)","(5, 3)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 5)","(1, 5)",...,"(5, 1)","(4, 3)",40,44,34,48,40,1551,Web dev,low risk
1552,"(3, 5)","(4, 3)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 3)","(2, 3)","(5, 5)","(1, 3)",...,"(5, 3)","(4, 3)",40,46,48,44,42,1552,Web dev,low risk
1553,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)","(1, 5)",...,"(5, 1)","(4, 3)",48,36,44,38,36,1553,Web dev,low risk
1554,"(3, 3)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 3)","(1, 3)",...,"(5, 1)","(4, 3)",42,40,30,44,22,1554,Web dev,low risk

### The number of low and high risk applicants within each department

In [58]:
counts=pd.crosstab(merge.Risk,merge.Department)
Applicants_totals=pd.DataFrame(counts)
Applicants_totals

Department  Copywriting  Data  Design  Strategy  Web Dev  Web dev
Risk
high risk             1     1       0         0        0        0
low risk            325   328     120       449      170      161